<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Minha Página" %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <% include partials/navbar %>
  <main>
    <%- body %>
  </main>
</body>
</html>
